<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include("header") %>

    <div class="container mt-5">
        <h3 class="text-center">Tambah Data</h3><br>
        <form action="/add-alumni" method="POST" class="mx-auto" style="width: 330px">

            <div class="mb-3">
                <label for="nama" class="form-label">Nama</label>
                <input type="text" id="nama" name="nama" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="nis" class="form-label">NIS</label>
                <input type="number" name="nis" class="form-control"> 
            </div>

            <div class="mb-3">
                <label for="alamat" class="form-label">Alamat</label>
                <input type="text" name="alamat" class="form-control">
            </div>

            <div class="mb-3">
                <label for="angkatan" class="form-label">Tahun Lulus</label>
                <input type="number" name="angkatan" class="form-control">
            </div>

            <div class="mb-3">
                <label for="pekerjaan" class="form-label">Pekerjaan</label>
                <input type="text" name="pekerjaan" class="form-control">
            </div>

            <div class="mb-3">
                <label for="perusahaan" class="form-label">Perusahaan / Lembaga</label>
                <input type="text" name="perusahaan" class="form-control">
            </div>

            <div class="mb-3">
                <label for="kesan" class="form-label">Kesan</label>
                <input type="text" name="kesan" class="form-control">
            </div>
            <button type = "submit">Simpan</button>
        </form>
    </div>
    
    <%- include("footer") %>

</body>
</html>